{
     "extends": [  "airbnb"],
      "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "strict" : 0,
        "quotes": ["error", "single"],
        "eol-last": ["error", "never"],
        "linebreak-style": 0,
    },
    "env": {
        "browser": true,
        "mocha": true,
        "node": true
    },
    "plugins": [
    "react"
  ]

}

