
.card {
   color: green;
}
.newsdesc{
        display: inherit !important;
    color: black;
    font-weight: 300 !important;
}
.newshead{
    color: black;
}
.favicon{
    color: #178acc;
}
.favbtn{
    border-radius: 50%;
    border: 1px solid #e2e1e1;
    background: #e2e1e1;
    height: 4%;
    width: 4%;
}
.rowbtn{
        margin-left: 0px !important;
    margin-right: 0px !important;
}
.headerline{
    border-bottom: 1px solid #EBEBEB;
}