
.card {
   color: green;
}
.newsdesc{
        display: inherit !important;
    color: black;
    font-weight: 300 !important;
}
.newshead{
    color: black;
}
.favicon{
    color: #178acc;
}
.headsty{
    margin-right: 15px !important;
    margin-left: 15px !important;
    padding-left: 100px !important;
    padding-right: 100px !important;
}
.avata{
    height: 120px !important;
    width: 120px !important;
}
.srcavata{
    height: 85px !important;
    width: 85px !important;
}
.favbtn{
    border-radius: 50%;
    border: 1px solid #e2e1e1;
    background: #e2e1e1;
    height: 4%;
    width: 3%;
    margin-top: 1px;
    float: right !important;
}
.rowbtn{
        margin-left: 0px !important;
    margin-right: 0px !important;
}
.headerline{
    border-bottom: 1px solid #EBEBEB;
}
.listpad{
    padding-right: 3%;
}
.searchbar{
    width: 40%;
    float: right;
    margin-right: 3%;
}
.clearbtn{
    margin-left: 3%;
    background: #2fa4e7;
    border: 1px solid #2fa4e7;
    color: white;
}